  img.card-img-top {
      max-height: 200px;
      object-fit: cover;
    }
    .fade-in {
      animation: fade-in 0.5s ease-in-out;
    }

    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #f8f9fa;
   color: gray;
   text-align: center;
}

#jokeContainer {
  position: relative;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#jokeContainer h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

#jokeContent {
  margin-top: 10px;
}

